*{
    margin: 0;
    padding: 0;
}

.container{
    width: 80%;
    margin: auto;
}

.logo{
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.15);
    padding-top: 30px;
    padding-bottom: 30px;
}

.box{
    width: 80%;
    margin: auto;
}

.logo img{
    width: 13%;
}

.group img{
    width: 80%;
    padding-top: 50px;
    padding-bottom: 55px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.container h1{
    font-size: 60;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container .a{
    width: 36%;
    padding-top: 30px;
    padding-bottom: 60px;
    font-size: 22;
    color: rgb(80, 79, 79);
    letter-spacing: 1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.flex{
    display: flex;
    gap: 40px;
    overflow: hidden;
}

.image-card {
    margin-bottom: 40px;
    min-width: 400px;
    flex-shrink: 0;
}

.image-card img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.image-card p {
    width: 100%;
    font-size: 18;
    line-height: 1.6;
}

.card-stats{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 20;
    padding-top: 12px;
    padding-bottom: 10px;
}

.review{
    color: grey;
}

.location{
    color: grey;
}

.star{
    color: FE395C;
    font-size: 25;
}